/** Language tandem and coaching player style. **/

/* id identifiers are prefixed with pl_, which stands as a sort of
   namespace identifier, in order to make name collisions less likely. */

#pl_translations {
 float: left;
}

#audio_controls {
 float: right;
 clear: right;
 font-size: 0.7em;
 padding: 1.12em 0 1.12em 1.12em;
}

#audio_controls fieldset {
 padding-left: 1.12em;
 padding-right: 1.12em;
}

#pl_comments {
 clear: left;
}

#pl_translations dt {
 margin: 1em 1em 0.5em 2em;
}

#pl_translations dd {
 margin: 0.5em 1em 0.5em 2.5em;
}

#pl_translations dd textarea {
 vertical-align: bottom;
 margin: 0 0 0 0;
 border: 1px solid #ccc;
}

#pl_translations dd button {
 vertical-align: bottom;
 margin: 0 0 0 0.5em;
}

#pl_definitions_l1 li, #pl_definitions_l2 li {
 margin: 0.5em;
}

/* For missing flags. */
#pl_translations dd ul {
 list-style-type: square;
}

/* Unfortunately there is no good way to set the size of images used as list
   bullets and using svg results in either too large or too small bullets:
   http://stackoverflow.com/questions/7775594/css-list-style-image-size */

#pl_translations [lang="en"] ul {
 list-style-image: url(../imgs/fotw/gb.png);
}

#pl_translations [lang="de"] ul {
 list-style-image: url(../imgs/fotw/de.png);
}

#pl_translations [lang="es"] ul {
 list-style-image: url(../imgs/fotw/es.png);
}

#pl_translations [lang="it"] ul {
 list-style-image: url(../imgs/fotw/it.png);
}

/* TODO add other countries from here: http://hewgill.com/flags/ */
