 </head>
 <body>
  <header id="top_header">
   <hgroup>
    <h1><a href="index.html"><img src="imgs/logo-name.png" alt="Antonio Bonifati"
     title="Click to return to Antonio Bonifati homepage" /></a></h1>
    <h2>{% if page.tagline %}{{ page.tagline }}{% else %}Italian language teacher{% endif %}</h2>
   </hgroup>
   <nav id="top_menu">
    <ul>
     <li><a{% if page.level1 == 'home' %} class="selected"{% endif %} href="index.html">Home</a></li>
     <li><a{% if page.level1 == 'demo' %} class="selected"{% endif %} href="demo.html">Demo lessons</a></li>
     <li><a{% if page.level1 == 'dic' %} class="selected"{% endif %} href="http://ninuzzo.freehostia.com/ant_dictionary.html" target="_blank">Dictionary</a></li>
     <li><a{% if page.level1 == 'tandem' %} class="selected"{% endif %} href="tandem-conditions.html">Tandems</a></li>
     <li><a{% if page.level1 == 'method' %} class="selected"{% endif %} href="method-to-students.html">My method</a></li>
     <li><a{% if page.level1 == 'contact' %} class="selected"{% endif %} href="contact.html">Contact</a></li>
     <li><a{% if page.level1 == 'faq' %} class="selected"{% endif %} href="faq.html">FAQ</a></li>
     <li><a{% if page.level1 == 'about' %} class="selected"{% endif %} href="about.html">About me</a></li>
    </ul>
   </nav>
  </header>
  <div id="top_content">
{{ content }}  </div>
  <aside id="side_tab">
   <nav>
    <ul>
     <li><a href="payments.html">Donate</a></li>
     <li><a href="share.html">Share</a></li>
     <li><a href="follow.html">Follow</a></li>
    </ul>
   </nav>
  </aside>
  <footer id="top_footer">
   <div>
