     <h1 class="h2" id="pl_title"></h1>
     <nav>
      <ul class="compact center">
       <li><button id="pl_first" accesskey="f">&lt;&lt; <u>f</u>irst</button></li>
       <li><button id="pl_previous" accesskey="p">&lt; <u>p</u>revious</button></li>
       <li>
        <form id="pl_step_form">
         <input type="number" id="pl_step" size="3" />&nbsp;/&nbsp;<span
           id="pl_steps"></span>
         <button type="submit" accesskey="g"><u>g</u>o</button>
        </form>
       </li>
       <li><button id="pl_next" accesskey="n"><u>n</u>ext &gt;</button></li>
       <li><button id="pl_last" accesskey="l"><u>l</u>ast &gt;&gt;</button></li>
      </ul>
     </nav>