{% include top.html %}  <link rel="stylesheet" href="mini/player.css" />
  <script src="mini/player.js"></script>
  <title>Language Coaching, Antonio Bonifati's structural method, Italian language teacher</title>
{% include middle.html %}    <p><a rel="license" target="_blank"
     href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img width="88"
     height="31" alt="Creative Commons License" src="imgs/cc_by-nc-sa.png" /></a>
     Structural language learning method. A JavaScript computer program for coaching
     by <a href="about.html" rel="author">Antonio Bonifati</a> is licensed
     under a <a rel="license" target="_blank"
     href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons
     Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>
{% include bottom.html %}
